<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="startup" transaction-type="RESOURCE_LOCAL">

        <class>com.company.startup.model.entity.Wallet</class>
        <class>com.company.startup.model.entity.WalletTradeAction</class>
    </persistence-unit>
</persistence>
